SHOPIFY_APP_URL=
SHOPIFY_INTENT_SYNC_URL=
INTERNAL_SYNC_SHARED_SECRET=
SHOPIFY_ADMIN_SHOP=
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_ADMIN_ACCESS_TOKENS_JSON=
SHOPIFY_ADMIN_API_VERSION=2026-01
BLOOMREACH_SHARED_SECRET=
BLOOMREACH_ALLOWED_ORIGINS=
